<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>BangBet | Highest odds betting site</title>
  <style>
      body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, legend, button
      form, fieldset, input, textarea, p, blockquote, th, td {
          padding: 0;
          margin: 0;
      }

      body {
          background: #fff;
          font-size: 12px;
          font-family: "SimSun", "宋体", "Arial Narrow";
          margin: 0;
      }

      address, caption, cite, code, dfn, em, strong, th, var {
          　　font-weight: normal;
          　　font-style: normal;
      }


      table {
          　　border-collapse: collapse;
          　　border-spacing: 0;
      }

      caption, th {
          text-align: left;
      }

      input, img, select {
          vertical-align: middle;
      }

      ol, ul {
          list-style: none;
      }

      /* titleStyle */
      h1, h2, h3, h4, h5, h6 {
          　　font-weight: normal;
          　　font-size: 100%;
      }

      button {
          cursor: pointer;
      }


      p {
          margin: 0;
          padding: 0;
      }

      /* style */
      .clearfix:after {
          content: '';
          clear: both;
          display: block;
      }

      html, body {
          height: 100%;
      }

      .container {
          height: 100%;
          padding: 24px 20px 0;
          box-sizing: border-box;
          position: relative;
      }

      /* header */
      .header {
          border-bottom: 8px solid #10A310;
      }

      .header__top {
          /*display: flex;*/
      }

      .header__top-l {
          display: flex;
          flex-direction: column;
          float: left;
      }

      .header__top-l img {
          width: 140px;
          height: 30px;
      }

      .header-site {
          margin-top: 2px;
          font-size: 14px;
          font-family: Roboto-Regular, Roboto;
          font-weight: 400;
          color: #32333D;
          line-height: 18px;
      }

      .header__top-c {
          float: left;
          margin-left: 4px;
          font-size: 10px;
          font-family: Roboto-Regular, Roboto;
          font-weight: 400;
          color: #32333D;
      }

      .header-des,
      .header-relation {
          line-height: 14px;
      }

      .header__top-r {
          float: right;
          font-size: 10px;
          font-family: Roboto-Regular, Roboto;
          font-weight: 400;
          color: #32333D;
          margin-left: auto;
      }

      .header-bottom {
          text-align: right;
          font-size: 10px;
          font-family: Roboto-Regular, Roboto;
          font-weight: 400;
          color: #32333D;
          line-height: 18px;
      }


      /* remind */
      .cont-remind {
          font-size: 10px;
          font-family: Roboto-Regular, Roboto;
          font-weight: 400;
          color: #32333D;
          line-height: 22px;
          margin: 10px 0;
          display: flex;
          align-items: center;
          vertical-align: middle;
      }

      .cont-remind img {
          height: 20px;
          width: 20px;
          margin-right: 8px;
      }

      /* table */
      .cont-table table {
          border-collapse: collapse;
          border: 1px solid #C0C7CF;
          width: 100%;
      }

      .cont-table td, th {
          border: 1px solid #C0C7CF;
          text-align: center;
      }

      .cont-table th {
          font-size: 10px;
          font-family: Roboto-Regular, Roboto;
          font-weight: 400;
          color: #32333D;
      }

      .cont-table td {
          line-height: 14px;
          font-size: 8px;
          font-family: Roboto-Regular, Roboto;
          font-weight: 400;
          color: #32333D;
      }

      .cont-table tbody tr {
          background-color: #F2F3F5;
      }

      .cont-table tbody tr:nth-child(2n) {
          background-color: #fff;
      }

      .table-col {
          height: inherit;
          position: relative;
          overflow: hidden;
      }

      .table-col-two {
          /*position: absolute;*/
          float: left;
          width: 1px;
          height: 13px;
          background-color: #C0C7CF;
          /*top: 0;*/
          /*left: 50%;*/
          /*transform: translateX(-50%);*/
      }

      .table-col .table-col-one {
          float: left;
          width: 49%;
          text-align: center;
      }

      /* aside */
      .cont-aside {
          position: absolute;
          bottom: 0;
          overflow: hidden;
      }

      .cont-aside img {
          float: left;
          width: 109px;
          height: 109px;
      }

      .aside-middle {
          margin-left: 20px;
      }

      .aside-middle .aside-tit {
          padding-top: 12px;
          padding-bottom: 4px;
          font-size: 12px;
          font-family: Roboto-Bold, Roboto;
          font-weight: bold;
          color: #32333D;
          line-height: 14px;
      }

      .aside-middle .aside-text {
          font-size: 10px;
          font-family: Roboto-Regular, Roboto;
          font-weight: 400;
          color: #32333D;
          line-height: 14px;
      }

      .aside-middle .aside-site {
          font-size: 10px;
          font-family: Roboto-Regular, Roboto;
          font-weight: 400;
          color: #32333D;
          line-height: 12px;
          text-align: right;
      }
  </style>
</head>
<body>
<div class="container">
  <div class="header">
    <div class="header__top clearfix">
      <div class="header__top-l">
        <img src="./img/Img_Logo_Yellow.png" alt="" class="header-logo"/>
        <p class="header-site">WWW.BANGBET.COM</p>
      </div>
      <div class="header__top-c">
        <p class="header-des">To Play On: SMS "Bangbet" to 20829.</p>
        <p class="header-des">Deposit: SMS "d#deposit amount" (e.g."d#1000") to 20829.</p>
        <p class="header-des">Withdraw: SMS "w#withdrawl amount" (e.g."w#1000") to 20829.</p>
        <p class="header-des">3Way: SMS "GameID#Pick#Amount" (e.g. 1234#1#100)to 20829.</p>
        <p class="header-des">GG/NG: SMS "GameID#Pick#GameID#Pick#Amount...stake" <br/>(e.g. 1234#1#4567#2#200)to 20829.
        </p>
        <p class="header-des">Multi bet: SMS "GameID#Pick#Amount" (e.g. 1234#X#100)to 20829.</p>
        <p class="header-des">SMS "GameID#Pick#Stake" (e.g. 1234#gg#100)to 2082.</p>
      </div>
      <div class="header__top-r">
        <p class="header-relation">BET USSD: *852#</p>
        <p class="header-relation">M-pesa Paybill: 999880 Airtel Paybill: Bangbet</p>
        <p class="header-relation">Whatsapp: 0726999882</p>
        <p class="header-relation">Telegram: BangBetKE</p>
        <p class="header-relation">FaceBook: BangbetKE</p>
        <p class="header-relation">E-Mail:Support@Bangbet.co.ke</p>
      </div>
    </div>
    <div class="header-bottom">
      <span class="print-time">Printed on: 15/09/2020  09:40:55</span>
    </div>
  </div>
  <div class="content">
    <div class="cont-remind">
      <img src="./img/Icon_Promotion.png" alt=""/>
      <span>Promotions:  KSH. 1 BILLION FREE BONUSES(Expire 17/09/2020)  GET YOU WELCOME BONUS FOR YOU (Expire 31/12/2020)</span>
    </div>
    <div class="cont-table">
      <table>
        <thead>
        <tr>
          <th rowspan="2">DATA</th>
          <th rowspan="2">TIME</th>
          <th rowspan="2">ID</th>
          <th rowspan="2">Match</th>
          <th colspan="3">1X2</th>
          <th colspan="3">Double Chance</th>
          <th colspan="2">OVER/UNDER</th>
          <th colspan="3">GG</th>
        </tr>
        <tr>
          <th>1</th>
          <th>X</th>
          <th>2</th>

          <th>1X</th>
          <th>12</th>
          <th>X2</th>

          <th>OVER</th>
          <th>UNDER</th>

          <th colspan="3">
            <div class="table-col">
              <span class="table-col-one">1X</span>
              <span class="table-col-two"></span>
              <span class="table-col-one">X2</span>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="cont-aside">
      <img src="./img/Img_yaya.png" alt=""/>
      <div class="aside-middle">
        <h3 class="aside-tit">BEST AWARDIN BETTING!</h3>
        <p class="aside-text">This game is only for people over the age of 18 years. Betting can be addictive, please
          bet responsibly.
          bangbet is a trading name of Asen Football Venture International Limited, a company registered under the laws
          of Nigeria. bangbet is licensed by the benue state sports marketing and lottery board under License No
          1432013.</p>
        <p class="aside-site">https://www.bangbet.com/</p>
      </div>
    </div>
  </div>
</div>
<div class="container" style="page-break-before:always">
  <div class="header">
    <div class="header__top clearfix">
      <div class="header__top-l">
        <img src="./img/Img_Logo_Yellow.png" alt="" class="header-logo"/>
        <p class="header-site">WWW.BANGBET.COM</p>
      </div>
      <div class="header__top-c">
        <p class="header-des">To Play On: SMS "Bangbet" to 20829.</p>
        <p class="header-des">Deposit: SMS "d#deposit amount" (e.g."d#1000") to 20829.</p>
        <p class="header-des">Withdraw: SMS "w#withdrawl amount" (e.g."w#1000") to 20829.</p>
        <p class="header-des">3Way: SMS "GameID#Pick#Amount" (e.g. 1234#1#100)to 20829.</p>
        <p class="header-des">GG/NG: SMS "GameID#Pick#GameID#Pick#Amount...stake" <br/>(e.g. 1234#1#4567#2#200)to 20829.
        </p>
        <p class="header-des">Multi bet: SMS "GameID#Pick#Amount" (e.g. 1234#X#100)to 20829.</p>
        <p class="header-des">SMS "GameID#Pick#Stake" (e.g. 1234#gg#100)to 2082.</p>
      </div>
      <div class="header__top-r">
        <p class="header-relation">BET USSD: *852#</p>
        <p class="header-relation">M-pesa Paybill: 999880 Airtel Paybill: Bangbet</p>
        <p class="header-relation">Whatsapp: 0726999882</p>
        <p class="header-relation">Telegram: BangBetKE</p>
        <p class="header-relation">FaceBook: BangbetKE</p>
        <p class="header-relation">E-Mail:Support@Bangbet.co.ke</p>
      </div>
    </div>
    <div class="header-bottom">
      <span class="print-time">Printed on: 15/09/2020  09:40:55</span>
    </div>
  </div>
  <div class="content">
    <div class="cont-remind">
      <img src="./img/Icon_Promotion.png" alt=""/>
      <span>Promotions:  KSH. 1 BILLION FREE BONUSES(Expire 17/09/2020)  GET YOU WELCOME BONUS FOR YOU (Expire 31/12/2020)</span>
    </div>
    <div class="cont-table">
      <table>
        <thead>
        <tr>
          <th rowspan="2">DATA</th>
          <th rowspan="2">TIME</th>
          <th rowspan="2">ID</th>
          <th rowspan="2">Match</th>
          <th colspan="3">1X2</th>
          <th colspan="3">Double Chance</th>
          <th colspan="2">OVER/UNDER</th>
          <th colspan="3">GG</th>
        </tr>
        <tr>
          <th>1</th>
          <th>X</th>
          <th>2</th>

          <th>1X</th>
          <th>12</th>
          <th>X2</th>

          <th>OVER</th>
          <th>UNDER</th>

          <th colspan="3">
            <div class="table-col">
              <span class="table-col-one">1X</span>
              <span class="table-col-two"></span>
              <span class="table-col-one">X2</span>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="cont-aside">
      <img src="./img/Img_yaya.png" alt=""/>
      <div class="aside-middle">
        <h3 class="aside-tit">BEST AWARDIN BETTING!</h3>
        <p class="aside-text">This game is only for people over the age of 18 years. Betting can be addictive, please
          bet responsibly.
          bangbet is a trading name of Asen Football Venture International Limited, a company registered under the laws
          of Nigeria. bangbet is licensed by the benue state sports marketing and lottery board under License No
          1432013.</p>
        <p class="aside-site">https://www.bangbet.com/</p>
      </div>
    </div>
  </div>
</div>
<div class="container" style="page-break-before:always">
  <div class="header">
    <div class="header__top clearfix">
      <div class="header__top-l">
        <img src="./img/Img_Logo_Yellow.png" alt="" class="header-logo"/>
        <p class="header-site">WWW.BANGBET.COM</p>
      </div>
      <div class="header__top-c">
        <p class="header-des">To Play On: SMS "Bangbet" to 20829.</p>
        <p class="header-des">Deposit: SMS "d#deposit amount" (e.g."d#1000") to 20829.</p>
        <p class="header-des">Withdraw: SMS "w#withdrawl amount" (e.g."w#1000") to 20829.</p>
        <p class="header-des">3Way: SMS "GameID#Pick#Amount" (e.g. 1234#1#100)to 20829.</p>
        <p class="header-des">GG/NG: SMS "GameID#Pick#GameID#Pick#Amount...stake" <br/>(e.g. 1234#1#4567#2#200)to 20829.
        </p>
        <p class="header-des">Multi bet: SMS "GameID#Pick#Amount" (e.g. 1234#X#100)to 20829.</p>
        <p class="header-des">SMS "GameID#Pick#Stake" (e.g. 1234#gg#100)to 2082.</p>
      </div>
      <div class="header__top-r">
        <p class="header-relation">BET USSD: *852#</p>
        <p class="header-relation">M-pesa Paybill: 999880 Airtel Paybill: Bangbet</p>
        <p class="header-relation">Whatsapp: 0726999882</p>
        <p class="header-relation">Telegram: BangBetKE</p>
        <p class="header-relation">FaceBook: BangbetKE</p>
        <p class="header-relation">E-Mail:Support@Bangbet.co.ke</p>
      </div>
    </div>
    <div class="header-bottom">
      <span class="print-time">Printed on: 15/09/2020  09:40:55</span>
    </div>
  </div>
  <div class="content">
    <div class="cont-remind">
      <img src="./img/Icon_Promotion.png" alt=""/>
      <span>Promotions:  KSH. 1 BILLION FREE BONUSES(Expire 17/09/2020)  GET YOU WELCOME BONUS FOR YOU (Expire 31/12/2020)</span>
    </div>
    <div class="cont-table">
      <table>
        <thead>
        <tr>
          <th rowspan="2">DATA</th>
          <th rowspan="2">TIME</th>
          <th rowspan="2">ID</th>
          <th rowspan="2">Match</th>
          <th colspan="3">1X2</th>
          <th colspan="3">Double Chance</th>
          <th colspan="2">OVER/UNDER</th>
          <th colspan="3">GG</th>
        </tr>
        <tr>
          <th>1</th>
          <th>X</th>
          <th>2</th>

          <th>1X</th>
          <th>12</th>
          <th>X2</th>

          <th>OVER</th>
          <th>UNDER</th>

          <th colspan="3">
            <div class="table-col">
              <span class="table-col-one">1X</span>
              <span class="table-col-two"></span>
              <span class="table-col-one">X2</span>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        <tr>
          <td>15/09/2020</td>
          <td>11:00</td>
          <td>1234</td>
          <td>HANGZHOUXIZI VS CHANGCHUN</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
          <td>999.99</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="cont-aside">
      <img src="./img/Img_yaya.png" alt=""/>
      <div class="aside-middle">
        <h3 class="aside-tit">BEST AWARDIN BETTING!</h3>
        <p class="aside-text">This game is only for people over the age of 18 years. Betting can be addictive, please
          bet responsibly.
          bangbet is a trading name of Asen Football Venture International Limited, a company registered under the laws
          of Nigeria. bangbet is licensed by the benue state sports marketing and lottery board under License No
          1432013.</p>
        <p class="aside-site">https://www.bangbet.com/</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
