<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) Sportradar AG. See LICENSE for full license governing this code
  -->

<configuration scan="true" scanPeriod="30 seconds">

    <!-- the folder in which the SDK logs will be stored -->
    <property name="LOG_PATH" value="./logs" />

    <property name="GAMING_CENTER_LOG" value="smpp" />


    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [Thread:%thread] %-36logger{36} L%-4line %-5level - %m%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ServerFile"
      class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<file>${LOG_PATH}/${GAMING_CENTER_LOG}/${GAMING_CENTER_LOG}.log</file>-->
        <file>${LOG_PATH}/${GAMING_CENTER_LOG}.log</file>
        <!--<append>true</append>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${GAMING_CENTER_LOG}_%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--<minIndex>1</minIndex>-->
            <!--<maxIndex>100</maxIndex>-->
        </rollingPolicy>

        <!--<triggeringPolicy-->
          <!--class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
            <!--<maxFileSize>500MB</maxFileSize>-->
        <!--</triggeringPolicy>-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d [Thread:%thread] %-36logger{36} L%-4line %-5level - %m%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ServerErrorFile"
      class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/errorLogs/${GAMING_CENTER_LOG}_%d{yyyy-MM-dd}.error.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d %logger\(%file:%line\) [%-5level] - %m%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


<!--    <logger name="cn.chendahai" level="debug" />-->
    <logger name="cn.chendahai.chy.pp" level="info" />


    <!-- all the debug logs will be printed in the console -->
    <root level="info">
        <appender-ref ref="Console" />
        <appender-ref ref="ServerFile" />
        <appender-ref ref="ServerErrorFile" />
    </root>



</configuration>